<!-- HTML文書の開始を表すタグです -->
<!DOCTYPE html>
<!-- html要素でHTML文書全体を囲む。xmlns属性はThymeleafというライブラリを使うためのもの -->
<html xmlns:th="http://www.thymeleaf.org">
<!-- head要素内には文書に関する情報が入ります。今回はページのタイトルだけです -->
<head>
    <!-- ページのタイトルを設定します -->
    <title>商品編集ページ</title>
</head>
<!-- body要素内には表示する内容が入ります -->
<body>
    <!-- 製品編集の見出し -->
    <h1>商品編集ページ</h1>
    <!-- 製品情報を編集するためのフォーム -->
    <form action="#" th:action="@{/saveProduct}" th:object="${product}" method="post">
        <!-- 製品IDは編集しないので、非表示の入力欄で送信します -->
        <input type="hidden" th:field="*{id}">
        <!-- ラベルと入力欄（input要素）の組を作ります -->
        <label for="name">商品名</label>
        <input type="text" th:field="*{name}" id="name">
        <!-- ラベルと入力欄（input要素）の組を作ります -->
        <label for="description">説明（コメント）</label>
        <input type="text" th:field="*{description}" id="description">
		
		<label for="price">価格</label>
		        <input type="text" th:field="*{price}" id="price">
        <!-- 送信ボタン -->
        <input type="submit" value="更新する">
    </form>
    <!-- 製品一覧ページへのリンク -->
    <a href="/">一覧ページに戻る</a>
</body>
</html>

